= form_for @cleaner do |f|
  - if @cleaner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cleaner.errors.count, "error")} prohibited this cleaner from being saved:"
      %ul
        - @cleaner.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :area
    = f.text_field :area
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :information
    = f.text_field :information
  .actions
    = f.submit 'Save'
