%form.pure-form.pure-form-aligned
  %fieldset
    = form_for @cleaner do |f|
      .pure-control-group
        = f.label :area
        = f.text_field :area
      .pure-control-group
        = f.label :name
        = f.text_field :name
      .pure-control-group
        = f.label :phone
        = f.text_field :phone
      .pure-control-group
        = f.label :address
        = f.text_field :address
      .pure-control-group
        = f.label :information
        = f.text_field :information
      %br
      %button.pure-button.pure-button-primary{type: "submit"} Submit
