%p#notice= notice

%p
  %b Area:
  = @cleaner.area
%p
  %b Name:
  = @cleaner.name
%p
  %b Phone:
  = @cleaner.phone
%p
  %b Address:
  = @cleaner.address
%p
  %b Information:
  = @cleaner.information
%p
  %b Order:
  - @cleaner.orders.each do |order|
    = order.client.name
    = order.driver.last_name
    = order.pickup_date
    = order.client.pickkup_date
    = order.client.pickkup_time
    = order.client.return_date
    = order.client.return_time
    = order.client.instructions
    = order.client.dry_cleaning
    = order.client.wash

= link_to 'Edit', edit_cleaner_path(@cleaner)
\|
= link_to 'Back', cleaners_path
