.row
  .boxes
    .col-xs-12
      .large.box
        .icon
          .image
            %span.glyphicon.glyphicon-user.btn-lg.white
          .none
            %h3.title Customers
            - @users.each_with_index do |user, index|
              %h2 Client #{index + 1} 
              %h5
                %h4 Name: #{user.first_name} #{user.last_name}
                %p Address: #{user.address}, #{user.zipcode}
                %p Email: #{user.email} 
                %p Phone: #{user.phone}

