%form.pure-form.pure-form-aligned
  %fieldset
  = form_for @client do |f|
    - if @client.errors.any?
      #error_explanation
        %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
        %ul
          - @client.errors.full_messages.each do |msg|
            %li= msg
    .pure-control-group
      = f.label :first_name
      = f.text_field :first_name
    .pure-control-group
      = f.label :last_name
      = f.text_field :last_name
    .pure-control-group
      = f.label :home_address
      = f.text_field :home_address
    .pure-control-group
      = f.label :home_address_zipcode
      = f.text_field :home_address_zipcode
    .pure-control-group
      = f.label :phone
      = f.text_field :phone
    %br
    %button.pure-button.pure-button-primary{type: "submit"} Submit
