%h1 Listing orders

%table
  %tr
    %th Pickup date
    %th Pickup time
    %th Return date
    %th Return time
    %th Instructions
    %th Dry cleaning
    %th Wash
    %th Status
    %th


  - current_user.client.orders.each do |order|
    %tr
      %td= order.pickup_time
      %td= order.return_time
      %td= order.instructions
      %td= order.dry_cleaning
      %td= order.wash
      %td= order.status

%br

= link_to 'New Order', new_order_path


%form.pure-form.pure-form-aligned
  %fieldset
    .pure-control-group
      %label{for: "name"} Username
      %input#name{placeholder: "Username", type: "text"}/
    .pure-control-group
      %label{for: "password"} Password
      %input#password{placeholder: "Password", type: "password"}/
    .pure-control-group
      %label{for: "email"} Email Address
      %input#email{placeholder: "Email Address", type: "email"}/
    .pure-control-group
      %label{for: "foo"} Supercalifragilistic Label
      %input#foo{placeholder: "Enter something here...", type: "text"}/
    .pure-controls
      %label.pure-checkbox{for: "cb"}
        %input#cb{type: "checkbox"}/
        I've read the terms and conditions
      %button.pure-button.pure-button-primary{type: "submit"} Submit