.row
  .boxes
    .col-xs-12
      .large.box
        .icon
          .image
            %span.glyphicon.glyphicon-tag.btn-lg.white
          .info
            %h3.title  Prices
            %h2= "Dry Cleaning"
            %h4= 'Shirts : $5'
            %h4= 'Pants : $5'
            %h4= 'Blouse : $5'

            %h2= "Wash & Fold"
            %h4= '5lb: $5'