
%fieldset
= form_for @order do |f|
  .pure-control-group
    = f.label :pickup_day
    = f.date_field :pickup_day
  .pure-control-group
    = f.label :pickup_time
    = f.select :pickup_time, options_for_select([["AM", "AM"], ["PM", "PM"]])
  .pure-control-group
    = f.label :return_day
    = f.date_field :return_day
  .pure-control-group
    = f.label :return_time
    = f.select :return_time, options_for_select([["AM", "AM"], ["PM", "PM"]])
  .pure-control-group
    = f.label :instructions
    = f.text_field :instructions
  .pure-control-group
    = f.label :dry_cleaning
    = f.check_box :dry_cleaning
  .pure-control-group
    = f.label :wash
    = f.check_box :wash
  %br
  %button.pure-button.pure-button-primary{type: "submit"} Submit
