.row
  .boxes
    .col-xs-12
      .large.box
        .icon
          .image
            %span.glyphicon.glyphicon-plus.btn-lg.white
          .info
            %h3.title New Order
            %br
            %fieldset
            = form_for @order do |f|
              - if current_user && current_user.role == "customer"
                %h2 Order details
                .pure-control-group
                  Dry cleaning
                  = f.check_box :dry_cleaning
                  %nbsp ---
                  Wash only
                  = f.check_box :wash
                %br
                .pure-control-group
                  Specific instructions
                  = f.text_field :instructions, :class => "text_field"
                %br
                %h2 When?
                %span
                  .pure-control-group
                    Pick-up my clothes on
                    = f.date_select :pickup_day, :discard_year =>true
                    %nbsp    
                    during the
                    = f.select :pickup_time, options_for_select([["morning", "AM"], ["afternoon", "PM"]])
                %br
                .pure-control-group
                  Return my fresh laundry on
                  = f.date_select :return_day, :discard_year =>true
                  %nbsp 
                  during the 
                  = f.select :return_time, options_for_select([["morning", "AM"], ["afternoon", "PM"]])
                %br
                
          
              - if current_user && current_user.role == "provider"
                .pure-control-group
                  = f.label :price
                  = f.text_field :price
              %br
              %button.pure-button.pure-button-primary{type: "submit"} Submit
