= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :pickup_date
    = f.text_field :pickup_date
  .field
    = f.label :pickup_time
    = f.text_field :pickup_time
  .field
    = f.label :return_date
    = f.text_field :return_date
  .field
    = f.label :return_time
    = f.text_field :return_time
  .field
    = f.label :instructions
    = f.text_field :instructions
  .field
    = f.label :dry_cleaning
    = f.check_box :dry_cleaning
  .field
    = f.label :wash
    = f.check_box :wash
  .field
    = f.label :clients
    = f.text_field :clients
  .actions
    = f.submit 'Save'
