= form_for @order do |f|
  .field
    = f.label :pickup_date
    = f.date_select :pickup_date
  .field
    = f.label :pickup_time
    = f.time_select :pickup_time
  .field
    = f.label :return_date
    = f.date_select :return_date
  .field
    = f.label :return_time
    = f.time_select :return_time
  .field
    = f.label :instructions
    = f.text_field :instructions
  .field
    = f.label :dry_cleaning
    = f.check_box :dry_cleaning
  .field
    = f.label :wash
    = f.check_box :wash
  .actions
    = f.submit 'Save'
