%p#notice= notice
.radiobuttons
  .btn-group#order-status-selection{"data-toggle" => "buttons"}
    %label.btn.btn-primary.active
      %input#option1.order-status-filter{checked: "checked", name: "options", type: "radio", data:{status: "pending"}}/
      Orders waiting for approval
    %label.btn.btn-primary
      %input#option2.order-status-filter{name: "options", type: "radio", data:{status: "processed"}}/
      Orders being processed
    %label.btn.btn-primary
      %input#option3.order-status-filter{name: "options", type: "radio", data:{status: "archived"}}/
      Archived Orders
%br
.row
  .boxes
    .col-xs-12
      .large.box
        .icon
          .image
            %span.glyphicon.glyphicon-plus.btn-lg.white
          .none
            %h3 
            - @orders.each_with_index do |order, index|
              .row.orderbox.order{data: {status: order.status}}
                %h2 Order #{index + 1}
                %p
                  %p Order will be picked up on #{order.pickup_day.to_formatted_s(:rfc822)} during the #{order.pickup_time} and will be returned on #{order.return_day.to_formatted_s(:rfc822)} in the #{order.return_time}
                %br
                  - if order.instructions.present?
                    Instructions: #{order.instructions} 
                %br
                  - if order.dry_cleaning || order.wash == true
                    Type:
                    - if order.dry_cleaning == true 
                      Dry Cleaning 
                    - if order.wash == true
                      Wash and Fold 
                %br
                  - if current_user && current_user.role == "provider"
                    %b Client: #{order.user.first_name} #{order.user.last_name}
                    %p Address: #{order.user.address}, #{order.user.zipcode}
                    Phone: #{order.user.phone}
                %p
                - if order.status != "pending"
                  %p Price: $ #{order.price}
                - if current_user && current_user.role == "provider"
                  - if order.status == "pending"
                    %h2= link_to 'Accept order', edit_order_path(order)
                  %br
                  - if order.status != "pending"
                    %h2= link_to 'Update Status', edit_order_path(order)
                  = link_to 'Cancel order', order_path(order), method: :delete
         






