%p#notice= notice
.radiobuttons
  .btn-group#order-status-selection{"data-toggle" => "buttons"}
    %label.btn.btn-primary.active
      %input#option1.order-status-filter{checked: "checked", name: "options", type: "radio", data:{status: "pending"}}/
      Pending Orders
    %label.btn.btn-primary
      %input#option2.order-status-filter{name: "options", type: "radio", data:{status: "processed"}}/
      Processed Orders
    %label.btn.btn-primary
      %input#option3.order-status-filter{name: "options", type: "radio", data:{status: "archived"}}/
      Archived Orders
%br
.row
.row
  .boxes
    .col-xs-12
      .large.box
        .icon
          .image
            %span.glyphicon.glyphicon-tag.btn-lg.white
          .info.clearfix
            %h3.title See all Orders
            - @orders.each_with_index do |order, index|
              .xs.col-xs-4.order{data: {status: order.status}}
                %h2 Order #{index + 1}
                %h3 
                  - if current_user && current_user.role == "provider"
                    %span #{order.user.first_name} #{order.user.last_name}
                %h5 
                  %span Information:
                  %span #{order.instructions} 
                  %p
                  - if order.dry_cleaning == true 
                    %p Dry Cleaning
                  - if order.wash == true
                    %p Wash and Fold.
                %h5
                  %span Status:
                  %span
                  %i=order.status
                  - if current_user && current_user.role == "provider"
                    %p= link_to 'Change status', order, :class => "yolo"
                  %h5 
                %h5 
                  %span Drop in:
                  %span #{order.pickup_day} #{order.pickup_time}
                %h5
                  %span Return:
                  %span #{order.return_day} #{order.return_time}
                / should be javascript option only for provider
                %h5
                  %span Price: 
                  %span 
                    = order.price
                - if current_user && current_user.role == "provider"
                  %p= link_to 'Add Price', edit_order_path(order)





