= form_for @driver do |f|
  - if @driver.errors.any?
    #error_explanation
      %h2= "#{pluralize(@driver.errors.count, "error")} prohibited this driver from being saved:"
      %ul
        - @driver.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :area
    = f.text_field :area
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :phone
    = f.text_field :phone
  .field
    = f.label "Type of Car (small, medium, large)"
    = f.text_field :car

  .field
    = f.label :availability
    = f.text_field :availability
  .actions
    = f.submit 'Save'
