%form.pure-form.pure-form-aligned
  %fieldset
  = form_for @driver do |f|
    .pure-control-group
      = f.label "Area - (central, north, south, east or west)" 
      = f.text_field :area
    .pure-control-group
      = f.label :first_name
      = f.text_field :first_name
    .pure-control-group
      = f.label :last_name
      = f.text_field :last_name
    .pure-control-group
      = f.label :phone
      = f.text_field :phone
    .pure-control-group
      = f.label "Type of Car (small, medium, large)"
      = f.text_field :car
    .pure-control-group
      = f.label :availability
      = f.text_field :availability
    %br
    %button.pure-button.pure-button-primary{type: "submit"} Submit

