%p#notice= notice

%p
  %b Area:
  = @driver.area
%p
  %b First name:
  = @driver.first_name
%p
  %b Last name:
  = @driver.last_name
%p
  %b Phone:
  = @driver.phone
%p
  %b Car:
  = @driver.car
%p
  %b Availability:
  = @driver.availability
%p
  %b Orders:
  - @driver.orders.each do |order|
    = order.client.last_name
    = order.client.home_address
    = order.client.home_address_zipcode
    = order.client.pickkup_date
    = order.client.pickkup_time
    = order.client.return_date
    = order.client.return_time
    = order.cleaner.name
    = order.cleaner.address


= link_to 'Edit', edit_driver_path(@driver)
\|
= link_to 'Back', drivers_path
